@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('public/bg.jpg');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

/* Rainbow Shadow Effect for "Navpreet" */
.name-shadow {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* Initialize text-shadow */
  animation: rainbowShadow 5s linear infinite;
}

@keyframes rainbowShadow {
  0% {
    text-shadow: 0px 2px 5px rgba(255, 0, 0, 0.8);
  }
  16.66% {
    text-shadow: 0px 2px 5px rgba(255, 165, 0, 0.8);
  }
  33.33% {
    text-shadow: 0px 2px 5px rgba(255, 255, 0, 0.8);
  }
  50% {
    text-shadow: 0px 2px 5px rgba(0, 128, 0, 0.8);
  }
  66.66% {
    text-shadow: 0px 2px 5px rgba(0, 0, 255, 0.8);
  }
  83.33% {
    text-shadow: 0px 2px 5px rgba(75, 0, 130, 0.8);
  }
  100% {
    text-shadow: 0px 2px 5px rgba(238, 130, 238, 0.8);
  }
}

/* Navbar Link Hover Effect */
.navbar-link-container {
  position: relative;
  display: inline-block;
}

.navbar-link-hover-effect {
  position: absolute;
  top: -10px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 20px);
  border-radius: 25px; /* More rounded corners */
  opacity: 0;
  z-index: -1; /* Behind the text */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}

/* Apply styles on group hover */
.group:hover .navbar-link-hover-effect {
  opacity: 1;
  box-shadow: 0px 0px 20px 5px transparent; /* Initial transparent shadow */
  animation: rainbowShadow 5s linear infinite; /* Animate the shadow */
}

/* Typing animation */
.cursor-animation {
  overflow: hidden; /* Hide overflowing text during animation */
  border-right: .15em solid transparent; /* Simulate cursor with a border */
  white-space: nowrap; /* Keep text on a single line */
  margin: 0 auto; /* Center the text */
  letter-spacing: .15em; /* Adjust letter spacing for visual appeal */
  animation: 
    typing 3.5s steps(40, end), /* Typing animation */
    blink-caret .75s step-end infinite; /* Blinking cursor animation */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

/* Cursor Blinking */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}